body {
    font-family: 'Open Sans', sans-serif;
}

#index-banner-holder {
    background-image: url("Images/notebook-banner-small.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: black;
    border-radius: 0px;
    height: 250px;
    margin: 0px -15px;
}

.game-answer:hover{
    background-color: #f7f7f7;
}

#navbar-custom {
    background-color: #768286;
    border-color: #D7CDC5;
}

.navbar-inverse .navbar-toggle {
    border-color: #D7CDC5;
}

.navbar-inverse .navbar-brand {
    color: #D7CDC5;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.site-buttons, .site-buttons a {
    background-color: #768286;
    color: white;
}

    .site-buttons a {
        background-color: transparent;
    }

        .site-buttons a:hover {
            background-color: transparent;
        }

#action-dropdown {
    list-style: none;
}

.edit-checkbox {
    width: 15px;
    height: 34px;
}

.subheading {
    color: grey;
}

#edit-question-holder h5 {
    margin: 0px;
}

.answer-divider {
    margin: 4px 0px;
}

.detail-body {
    padding: 5px 5px 0px 5px;
}

.question-list {
    padding: 0px 15px;
}

#question-body {
    padding: 0px;
    padding-left: 5px;
    padding-bottom: 5px;
}

.delete-current-answer, .delete-new-answer {
    float: left;
    margin-top: 13px;
    padding-top: 0px;
}

.status-checkbox {
    margin-left: 0px;
    margin-top: 10px;
}


.new-answer-holder input {
    margin: 5px 0px 5px 0px;
    max-width: none;
    width: 90%;
}

#question-body a {
    margin-bottom: 5px;
}

.answers-body .col-md-12, .answers-body .col-md-8 {
    padding-left: 0px;
}

.new-answer-holder .edit-checkbox {
    width: 15px;
    height: 34px;
}

.add-button {
    margin: 15px 0px;
}

.quest-input {
    margin-top: 5px;
    width: 90%;
    max-width: none;
}

.question-heading {
    padding: 2px 5px;
}

#question-body .edit-checkbox {
    width: 15px;
    height: 34px;
}

.answer-content-input {
    padding-right: 0px;
}

.answer-iscorrect-input {
    padding-left: 0px;
}

footer {
    text-align: center;
}


@media(min-width: 768px) {
    #index-banner-holder {
        background-image: url("Images/notebook-banner-wide.jpg");
        height: 350px;
    }

    #nav-dropdown-right {
        margin-left: 15px;
    }
}
